.countDown {
    width: 100%;
    height: 5rem;

    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: 600;
}

.countDownUnactive {
    background-color: var(--blue);
    color: var(--white);

    transition: background-color 0.2s;
}

.countDownActive {
    background: var(--title);
    color: var(--white);

    transition: background-color 0.4s;
}

.countDownUnactive:not(:disabled):hover {
    background: var(--blue-dark);
}



.countDownActive:not(:disabled):hover {
    background: var(--red);
    color: var(--white);
}

.hasFinished {
    background: var(--white);
    color: var(--text);
    cursor: not-allowed;
}

